<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>


    <table>

        <tr>
            #comp: keys = self.users[0].keys() #end 
            #comp: for key in keys: #>> #end 
                <th>#comp:self.ref(key)#end</th>
            #<<
        </tr>
            #comp: for user in self.users: #>> #end 
            <tr>
                #comp: for key in keys: #>> #end 
                #comp:value = user[key]#end 
                    <td>#comp:self.ref(value) #end</td>
                #<<      
            </tr>
        #<<
        
      </table>

</body>
</html>